metastore_db
spark-warehouse
*.cache
*.log
*.class
*.pyc
.RData
.Rhistory
.history

*.aux
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.pcl
*~

/target/*
/project/*
/.classpath
/.project/*
/.settings/*
/.bloop/*
/.metals/*
/.bsp/*
/.vscode/*

#/target/*
#/project/*
#/.idea/*
#/.idea/workspace.xml
#/.ensime
#/.ensime_cache/*
#/.classpath
#/.project
#/.settings/*
#/.bloop/
#/.metals/

